
.card {
    flex-grow: 1;
    flex-basis: 30%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    font-family: Play, sans-serif;
    cursor: pointer;
}

.card_big {
    width: 100%;
    flex-basis: initial;
}

.catalog__card {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.card__image {
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.card__info {
    box-sizing: border-box;
    padding: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.card__info_theme_dark {
    background-color: var(--black);
    color: var(--white);
}

.card__info_theme_light {
    background-color:var(--white);
    color: var(--black);
}

.card__title {
    font-size: 24px;
    line-height: 24px;
    max-height: 24px;
    margin: 0 0 5px;
    display: inline-block;
}

.card__title_trim {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.card__text {
    margin: 0;
    font-size: 18px;
    line-height: 20px;
    margin-top: 5px;
}
@media screen and (max-width: 414px) {
    .card {
        flex-basis: 40%;
    }
}
